{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="w3-card-6" style="width:56%">

            <div class="container">
                {% for img in all_images %}
                <div class="imagepadding">
                    <div class="panel panel-primary">
                        <p class="usernamehome-dp">
                            <strong> created_by: {{img.starter}}</strong>
                        </p>
                            <img src="{{ img.image.url }}" class="img-responsive" style="width:100%;margin-left: 0%;margin-top:15px; ">
                        </a>
                        <div class="container">
                            <div class='likesect'>
                        <p>{{img.image_description}}</p>
                        <div class='commentsection'>
                            <input type='text' id='cmnt' placeholder='Add a comment...'>
                            <br>
                            <hr>
                            <br>
                            <span class='dot02'></span>
                        </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>







{% endblock %}


<form class="form-inline ml-auto" >
              <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
              <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
            </form>


<div class="card mb-3">
    {% for img in all_images %}


  <img src="{{ img.image.url }}" class="card-img-top" alt="...">

  <div class="card-body">
    <h5 class="card-title">{{ img.starter }}</h5>

    <p class="card-text">{{ img.image_description }}</p>

    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
  </div>
    <hr>
    <br>
    <br>
    <br>
    <br>
    {% endfor %}

</div>
<!---->




