{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="card" style="width: 18rem;">
  <img src="{% static 'img/avatar.png' %}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{ profile.user }}</h5>
  </div>
</div>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Phone number</th>
      <th scope="col">Bio</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ profile.first_name }}</td>
      <td>{{ profile.last_name }}</td>
      <td>{{ profile.phone }}</td>
      <td>{{ profile.bio}}</td>
    </tr>
  </tbody>
</table>


<div class="card-group">
  <div class="card">
    <img src="{{ img.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ user.first_name }}</h5>
    </div>
    <div class="card-footer">
    </div>
  </div>
</div>

{% endblock %}


<img src="{% static 'img/avatar.png' %}">

