{% extends 'base.html' %}

{% block content %}

<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" src="https://www.redsign.ru/upload/iblock/3be/3bea109f30ab89d512cc7d13fb505751.jpg" alt="First slide">
            </div>
          </div>
        </div>
<div class="shadow-lg p-3 mb-5 bg-body rounded" style="font-size:1.5em;">Категория: {{ category.name }}

{% endblock %}