{% load static %}

{% block content %}
<br>
<br>
<br>
<br>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<style>
  body {
  padding-top: 56px;
  background-image: url(https://images.vexels.com/media/users/3/148203/isolated/preview/1ac8231a12145de15795ebbeb4847d25-colorful-squares-and-circles-background-by-vexels.png);
  }
</style>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Редактирование профиля</h3>
                    <form method="post" novalidate>
                        {% csrf_token %}
                        {% include 'includes/form.html' %}
                      <br>
                        <button type="submit" class="btn btn-primary btn-block">Редактаровать</button>
                        <a href="{% url 'my_profile' %}" class="btn btn-primary btn-block">Назад</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}