<table class="table table-striped">
  <tbody>
    <tr>
      <td>Диоганаль</td>
      <td>{{ product.diagonal }}</td>
    </tr>
  <tr>
      <td>Дисплей</td>
      <td>{{ product.display_type }}</td>
    </tr>
  <tr>
      <td>Разрешение экрана</td>
      <td>{{ product.resolution }}</td>
    </tr>
  <tr>
      <td>Батарея</td>
      <td>{{ product.accum_volume }}</td>
    </tr>
  <tr>
      <td>Опретивная память</td>
      <td>{{ product.ram }}</td>
    </tr>
  <tr>
      <td>Основная камера</td>
      <td>{{ product.main_camp_mp }}</td>
    </tr>
  <tr>
      <td>Фронтальная камера</td>
      <td>{{ product.frontal_cam_mp }}</td>
    </tr>
  </tbody>
</table>